<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% for trip in trips %}
        <style>
        html, body { 
        background-image: url('{{ trip.capa }}'); 
        }
        </style>
        {% endfor %}
        <link rel="stylesheet" href="styles/main.css">
        {% block styles %}{% endblock styles %}
        <link rel="stylesheet" href="styles/responsive.css">
        {% block titulo %}
            <title>Meu Diário</title>
        {% endblock titulo %}
    </head>
    <body>
        {% block header %}{% endblock header %}
        {% include "parts/footer.html" %}
        {% block scripts %}{% endblock scripts %}
    </body>
</html>