{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/gallery.css">
{% endblock styles %}

{% block titulo %}
    <title>Galeria</title>
{% endblock titulo %}

{% block header %}
    <header>
        <div class="container-gallery">

            <a href="#">
                <div class="photo">
                    <span><img src="" alt=""></span>
                </div>
            </a>

            <a href="#">
                <div class="photo">
                    <span><img src="" alt=""></span>
                </div>
            </a>
            <a href="#">
                <div class="photo">
                    <span><img src="" alt=""></span>
                </div>
            </a>
            <a href="#">
                <div class="photo">
                    <span><img src="" alt=""></span>
                </div>
            </a>
            <a href="#">
                <div class="photo">
                    <span><img src="" alt=""></span>
                </div>
            </a>
            <a href="#">
                <div class="photo">
                    <span><img src="" alt=""></span>
                </div>
            </a>
            <a href="#">
                <div class="photo">
                    <span><img src="" alt=""></span>
                </div>
            </a>

        </div>
    </header>
{% endblock header %}