{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/comments.css">
{% endblock styles %}

{% block titulo %}
    <title>Comentários</title>
{% endblock titulo %}

{% block header %}
    <header>
        <div class="postagem">
            <form action="" metthod="POST">
                <div class="field-group">
                    <div class="field">
                        <input type="text" name="name" placeholder="Ex. Anna Luxembugo" required="required">
                    </div>
                    <div class="field">
                        <input type="text" name="image" placeholder="Ex. https://example.com/img.jpg" required="required">
                    </div>
                </div>
                <div class="field-group">
                    <div class="field">
                        <input type="text" name="comment" placeholder="Comentario" required="required">
                    </div>
                </div>
                <button type="submit">Comentar</button>
            </form>
        </div>
        <div class="container">

        {% for comment in comments %}
            <div class="comment">
                <span><img src="{{ comment.image }}" alt="Foto do usuário"></span>
                <fieldset>
                    <legend>{{ comment.name }}</legend>
                    {{ comment.comment }}
                </fieldset>
            </div>
            {% endfor %}

        </div>

    </header>
{% endblock header %}