html, body {
    height: 100%;
    width: 100%;
    background-size: cover;
}
* {
    margin: 0;
    text-decoration: none;
}

footer {
    width: 100%;
    height: 10%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
footer a { 
    color: #696969;
    font-weight: bold;
    font-size: 2em;
}


footer a div[id="chat"] {
    background-image: url(../images/chat-icon.svg);  
    padding-right: 1em;
}
footer a div[id="home"] {
    background-image: url(../images/home-icon.svg);  
}
footer a div[id="gallery"] {
    background-image: url(../images/gallery-icon.svg);  
    margin-left: 1em;
}

footer a div { 
    background-repeat: no-repeat no-repeat;
    
    width: 1.5em;
    height: 1.5em;
    
}