@media (max-width: 360px) {
/* titulo pagina home */
header .content h1 {
    font-size: 3em;
}

/* icones footer */
footer a div {
    width: 1em;
    height: 1em;
}

/* form comment */
header .postagem form {
    padding: 5px 10px 5px 10px;
    width: 100%;
}

/* inputs form pagina comment */
header .postagem form .field-group .field input {
    padding: 2px 0 2px 2px;
    font-size: 15px;
    width: 100%;
}

/* button form pagina comments */
header .postagem form button {
    font-size: 15px;
    padding: 5px 20px;
}

/* foto user pagina comment */
header .container .comment span img {
    width: 3em;
    height: 3em;
    margin: 0.5em 0.5em 0.5em 1em;
}

/* Margin bottom comment */
header .container .comment {
    margin-bottom: 1em;
}

/* nome do usuario comment */
header .container .comment fieldset legend {
    font-size: 1em;
    margin-top: 1em;
}

/* container-gallery gallery */
header .container-gallery {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
header .container-gallery a .photo {
    margin: auto;
    width: 6em;
    height: 6.5em;
}




}