<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/desktop.css">
        {% block style %}{% endblock style %}

        {% block title %}
            <title>Cat Security</title>
        {% endblock title %}
    </head>
    <body>
        <nav>
            <div class="networks">
                <a target="_blank" href="https://www.facebook.com/catsecfb/">
                    <span></span></a>
                <a target="_blank" href="https://www.linkedin.com/company/cat-sec/?viewAsMember=true">
                    <span></span></a>
                <a target="_blank" href="https://www.youtube.com/c/catsec/">
                    <span></span></a>
            </div>
            <div class="container">
                <img src="/assets/logo.png" alt="Cat Sec">
                <div class="title">
                    <span>Cat Sec</span>
                    <span>Soluções tecnologicas para você e sua empresa.</span>
                </div>
            </div>
            <div class="links">
                <!--<a href="services">Serviços</a>
                <a href="">Contato</a>-->
            </div>
        </nav>
        {% block content %}{% endblock content %}

        {% block scripts %}{% endblock scripts %}
    </body>
</html>