<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/main.css">
        {% block style %}{% endblock style %}

        {% block title %}
            <title>Cat Security</title>
        {% endblock title %}
    </head>
    <body>
        <nav>
            <img src="/assets/logo.png" alt="Cat Sec">
            <span>Cat Sec</span>
        </nav>
        {% block content %}{% endblock content %}

        {% block scripts %}{% endblock scripts %}
    </body>
</html>