{% extends "base.njk" %}
{% block content %}
    <main>
        <span>CAT SEC</span>
        <span>Soluções tecnologicas para você e sua empresa.</span>
    </main>

    <section class="an">
        <!--<span>Serviços</span>-->

        <div class="container">
            <div class="item0">DESENVOLVIMENTO WEB</div>
            <div class="item1">HTML5</div>
            <div class="item2">CSS3</div>
            <div class="item3">JAVASCRIPT</div>
            <div class="item4">NUNJUCKS</div>
            <div class="item5">DATABASES</div>
            <div class="item6">E +</div>
        </div>

        <div class="container2">
            <div class="item0">AUTOMAÇÃO</div>
            <div class="item1">RASPBERRY</div>
            <div class="item2">RASPBIAN</div>
            <div class="item3">E +</div>
        </div>
    </section>

    <section class="deux">
        aviso
    </section>
{% endblock content %}