{% extends "base.njk" %}
{% block content %}
    <main>
        <div class="title">
            <span>Cat</span>
            <span>Sec</span>
        </div>
        
        <div class="slogan">
            <span>Soluções tecnologicas para você e sua empresa.</span>
        </div>

        <div class="sites">
            <fieldset>
                <legend>
                    <span></span>
                    <span></span>
                    <span></span>
                </legend>
                Tire do papel o seu tão desejado projeto, atraia mais clientes com um site elegante e moderno, aumente o alcance da sua marca com mais este recurso para a sua empresa ou marca. Peça um orçamento gratis.
            </fieldset>
        </div>

        <div class="automation">
            <fieldset>
                <legend>
                    <span></span>
                </legend>
                Utilizando tecnologias de baixo custo de mercado, conseguimos entregar o mesmo resultado oferecido por grandes empresas mantendo um custo mais acessível, diferenciando nossos serviços dos demais oferecidos em mercado. Para mais informações e orçamentos entre em contato.
            </fieldset>
        </div>

        <div class="button">
            <a href="#" class="f-button">Facebook</a>
            <a href="#" class="w-button">WhatsApp</a>
        </div>

        <footer>
            Cat Security<br>
            CNPJ : 0000000000/0000-00
        </footer>
    </main>
{% endblock content %}