{% extends "base.njk" %}
{% block content %}
    <section>
        <div class="item">
            <span>Como funciona :</span>

            <span></span>
            <span>
                Um sistema de automação residencial sem fio tem o objetivo de promover conforto, sustentabilidade e segurança para o usuário  sua moradia. Fácil instalação e configuração, pois não é necessário grandes alterações a rede atual do local. Nosso sistema é formado por uma central onde nossos dispositivos receptores ligados aos dispositivos da residência se comunicam por radiofrequência, em resumo, assuma o controle da sua casa na palma da sua mão.
            </span>
        </div>
        <div class="item">
            <span>Versões da aplicação</span>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PHGDT_23jFE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
    <footer>
        <section>
            <div>
                <span>Cat Security</span>
                <span>
                    <strong>CNPJ :</strong>
                    0000000-0/000</span>
            </div>
            <div>
                <p>Serviços</p>
                <ul>
                    <li>Automação residencial</li>
                    <li>Desenvolvimento web</li>
                </ul>
            </div>
            <div>
                contatocatsec@outlook.com<br>
                (19) 9999-9999
                <p>Atendemos somente na região metropolitana de Campinas.</p>
            </div>
        </section>
        <section>
            2020 © Cat Security - Todos os direitos reservados.
        </section>
    </footer>
{% endblock content %}