{% extends "base.njk" %}
{% block content %}
    <main>
        <span>Soluções tecnologicas para você e sua empresa.</span>
    </main>

    <section class="an">
        <span>Serviços</span>

        <div class="container">
            <div class="item1">HTML5</div>
            <div class="item2">CSS3</div>
            <div class="item3">JAVASCRIPT</div>
            <div class="item4">NUNJUCKS</div>
            <div class="item5">DATABASES</div>
            <div class="item6">E +</div>

        </div>
    </section>
{% endblock content %}