body {
    margin: 0;
    font-style: normal, Arial;
    background-color: #A9A9A9;
    
}

body span {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('../img/bg.svg');
    opacity: 0.4;
}

header {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30pt;
    text-align: center;
    margin: 10px 0 10px 0;

}

section div {
    float: left;
    width: 40%;
    background-color: #DCDCDC;
}
section .myclock {
    margin: 0 0 0 10%;
    border-radius: 8px 0 0 8px;
    text-align: center;
    height: 80vh;
    opacity: 0.8;
    color: #808080;
    font-weight: bold;
    font-size: 50pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -1px -1px 6px rgba(0, 0, 0, 0.979);
}

section .image-home {
    margin: 0 10% 0 0;
    border-radius: 0 8px 8px 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9
}

footer {
    float: left;
    width: 100%;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: bold;
    font-size: 10pt;
    text-align: center;
    margin-top: 20px;
}